@using Microsoft.AspNetCore.Mvc.Localization;
@using WebAppluisChaves.Models;
@model List<Product>;
@inject IViewLocalizer localizer;

@{
    ViewData["title"] = localizer["title"];
}
<section class="row">
    <article class="col-12 col-xs-12 d-flex">
        <div class="col-8  col-xs-8"><h1>@localizer["title"]</h1></div>
        <div class="col-4  col-xs-4"><a class="btn btn-success" asp-controller="Products" asp-action="newProduct">@localizer["label_create_new_product"]</a></div>
        <div></div>
    </article>
</section>
@if(Model.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        <h2>@localizer["label_no products"]</h2>
    </div>
}
else
{

    <section id="products-list" class="row">
        <table class="table">
            <thead>
                <tr><th scope="col">@localizer["label_id"]</th><th scope="col">@localizer["label_name"]</th><th scope="col">@localizer["label_price"]</th><th scope="col">@localizer["label_amount"]</th><th scope="col">@localizer["label_discount"]</th><th>@localizer["label_actions"]</th></tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr><td>@product.Id</td><td>@product.ProductName</td><td>@product.Price</td><td>@product.Amount</td><td>@product.Discount</td><td><section><a asp-controller="Products" asp-action="edit" asp-route-id="@product.Id" class="btn btn-outline-warning mx-2">@localizer["label_edit"]</a><a asp-controller="Products" asp-action="delete" asp-route-id="@product.Id" class="btn btn-outline-danger mx-2">@localizer["label_delete"]</a></section></td></tr>
                }
            </tbody>
        </table>
    </section>
}
